name: Java CI with maven

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: 21

      - name: print java version
        run: java -version

      - name: make mvnw executable
        run: chmod +x mvnw

      - name: Build
        run: ./mvnw clean compile

      - name: Test
        run: ./mvnw test

      - name: Run checkstyle
        run: ./mvnw verify

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key:  maven-${{ runner.os }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ runner.os }}-













